<nav>
  <ul class="nav-bar">
    <li>
      <button (click)="goToRoute('/task')" class="nav-button">Liste des tâches</button>
    </li>
    <li>
      <button (click)="goToRoute('/addTask')" class="nav-button">Ajouter tâche</button>
    </li>
  </ul>
</nav>

<h1 class="page-title">Liste des tâches</h1>
<ul class="task-list">
  @for (task of getTasks(); track task.id) {
    <li class="task-item">
      <h2>{{ task.titre }}</h2>
      <button (click)="seeDetail('/taskDetail/' + task.id)" class="btn btn-detail">Voir détail</button>
    </li>
  }
</ul>
